@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";
@theme {
    --color-azulprimario: #2E3A62;
    --color-gris: #616161;
    --color-rojo: #C12830;
    --color-grisbg: #D9D9D9;
    --color-azulsecundario: #0C3C61;
    --font-fuenteprincipal: "Space Grotesk", sans-serif;
    --breakpoint-xl: 70rem;
}