---
// Importa el layout que acabas de crear
import Layout from "../layouts/Layout.astro";

// Define las props para la página
const title = "Industrias Polyvac";
const description = "Inicio de la pagina.";
---

<!-- Usa el Layout y pasa las props para el título y la descripción -->
<Layout title={title} description={description}>
  <!-- hero section -->
  <section class="relative w-full h-[488px]" id="home">
    <div class="absolute inset-0">
        <img src="/hero/test.png" alt="Background Image" class="object-cover object-center w-full h-full" />
    </div>
    <div class="absolute inset-0 bg-black opacity-40"></div> <!-- Dark overlay -->
    <div class="absolute inset-9 flex flex-col md:flex-row  font-fuenteprincipal">
        <div class="h-1/2 md:w-1/2 mb-4 md:mb-0">
            <h1 class="text-white font-bold text-2xl md:text-3xl xl:text-5xl p-6 md:p-10 leading-tight">
                Empresa dedicada a la fabricación y distribución de tintas para impresión textil
            </h1>
            <a href="#contactUs"
                class="m-6 md:m-10 px-7 py-3 bg-azulprimario text-white text-lg md:text-xl font-medium 
                hover:bg-blue-800  
                transition duration-200">Conócenos<svg class="inline-flex ml-3 w-7 h-7 fill-white" viewBox="0 0 20 11">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.628662 5.5C0.628662 5.16249 0.925718 4.88889 1.29215 4.88889H16.9411L12.7659 1.04323C12.5067 0.80458 12.5067 0.417645 12.7659 0.178991C13.0249 -0.0596635 13.4451 -0.0596635 13.7041 0.178991L19.0121 5.06788C19.2712 5.30653 19.2712 5.69347 19.0121 5.93212L13.7041 10.821C13.4451 11.0597 13.0249 11.0597 12.7659 10.821C12.5067 10.5824 12.5067 10.1954 12.7659 9.9568L16.9411 6.11111H1.29215C0.925718 6.11111 0.628662 5.83751 0.628662 5.5Z"/>
                </svg></a>
            
        </div>
        <div class="flex justify-center items-center h-full md:h-auto md:w-1/2">
          <img class="h-20 md:h-30" src="/hero/logohero.png" alt="logo">
        </div>
    </div>
  </section>
</Layout>
