---
// Importa el layout que acabas de crear
import Layout from "../layouts/Layout.astro";

// Define las props para la página
const title = "Inicio";
const description = "Inicio de la pagina.";

import { Image } from "astro:assets";
import heroImageMobile from "/public/hero/herobackground-mobile.png"; // Imagen optimizada para móvil
import heroImageDesktop from "/public/hero/herobackground.png"; // Imagen para escritorio
---

<!-- Usa el Layout y pasa las props para el título y la descripción -->
<Layout title={title} description={description}>
  <!-- hero seciton -->
  <div class="relative w-full h-[488px]" id="home">
    <div class="absolute inset-0 opacity-70">
        <img src="/polyvac-web/public/hero/herobg.png" alt="Background Image" class="object-cover object-center w-full h-full" />
    </div>
    <div class="absolute inset-0 bg-azulprimario opacity-60"></div> <!-- Dark overlay -->
    <div class="absolute inset-9 flex flex-col md:flex-row  font-fuenteprincipal">
        <div class="h-1/2 md:w-1/2 mb-4 md:mb-0">
            <h1 class="text-white font-bold text-2xl md:text-3xl xl:text-5xl p-6 md:p-10 leading-tight">
                Empresa dedicada a la fabricación y distribución de tintas para impresión textil
            </h1>
            <a href="#contactUs"
                class="m-6 md:m-10 px-6 py-3 bg-azulprimario text-white font-medium hover:bg-blue-800  transition duration-200">Conócenos</a>
        </div>
        <div class="flex justify-center items-center h-full md:h-auto md:w-1/2">
          <img class="h-20 md:h-30" src="/public/hero/logohero.png" alt="logo">
        </div>
    </div>
  </div>
</Layout>
