---
const {text} = Astro.props;
---
<div
        class="flex justify-center items-center m-6 text-lg md:text-3xl md:m-10 font-fuenteprincipal"
    >
        <p
            class="relative bg-azulprimario text-white font-bold px-8 py-4 md:px-10 md:py-6
        after:content-[''] after:absolute
        after:top-2 after:left-2 after:border-b-20 after:border-r-20
        md:after:top-3 md:after:left-3 md:after:border-b-20 md:after:border-r-20
        after:w-full after:h-full after:border-rojo after:-z-10"
        >
            {text}
        </p>
    </div>