---
const url = new URL(Astro.request.url); // Convierte el string en objeto URL
const currentPath = url.pathname;
---
<nav class="bg-white fixed w-full z-20 top-0 start-0 font-fuenteprincipal">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="#" class="flex items-center space-x-3">
        <img src="/polyvac-web/header/logo3.png" class="h-10 md:h-12" alt="Polyvac Logo">
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0">
        <a href="/polyvac-web/catalogo"
          class="text-white bg-azulprimario hover:bg-blue-800 font-medium text-sm px-4 py-2 text-center">
          Catálogo
          <svg class="inline-flex ml-1 w-5 h-5 fill-white" viewBox="0 0 20 11">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.628662 5.5C0.628662 5.16249 0.925718 4.88889 1.29215 4.88889H16.9411L12.7659 1.04323C12.5067 0.80458 12.5067 0.417645 12.7659 0.178991C13.0249 -0.0596635 13.4451 -0.0596635 13.7041 0.178991L19.0121 5.06788C19.2712 5.30653 19.2712 5.69347 19.0121 5.93212L13.7041 10.821C13.4451 11.0597 13.0249 11.0597 12.7659 10.821C12.5067 10.5824 12.5067 10.1954 12.7659 9.9568L16.9411 6.11111H1.29215C0.925718 6.11111 0.628662 5.83751 0.628662 5.5Z"/>
          </svg>
        </a>
        <button id="menu-toggle" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
          <svg class="w-5 h-5" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
        </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <div class="relative mt-3 md:hidden">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 fill-gris"  viewBox="0 0 26 26">
            <path d="M23.9778 26L14.8778 16.9C14.1556 17.4778 13.325 17.9352 12.3861 18.2722C11.4472 18.6093 10.4481 18.7778 9.38889 18.7778C6.76481 18.7778 4.54398 17.869 2.72639 16.0514C0.908796 14.2338 0 12.013 0 9.38889C0 6.76481 0.908796 4.54398 2.72639 2.72639C4.54398 0.908796 6.76481 0 9.38889 0C12.013 0 14.2338 0.908796 16.0514 2.72639C17.869 4.54398 18.7778 6.76481 18.7778 9.38889C18.7778 10.4481 18.6093 11.4472 18.2722 12.3861C17.9352 13.325 17.4778 14.1556 16.9 14.8778L26 23.9778L23.9778 26ZM9.38889 15.8889C11.1944 15.8889 12.7292 15.2569 13.9931 13.9931C15.2569 12.7292 15.8889 11.1944 15.8889 9.38889C15.8889 7.58333 15.2569 6.04861 13.9931 4.78472C12.7292 3.52083 11.1944 2.88889 9.38889 2.88889C7.58333 2.88889 6.04861 3.52083 4.78472 4.78472C3.52083 6.04861 2.88889 7.58333 2.88889 9.38889C2.88889 11.1944 3.52083 12.7292 4.78472 13.9931C6.04861 15.2569 7.58333 15.8889 9.38889 15.8889Z"/>
          </svg>
        </div>
        <input type="text" id="search-navbar" class="block w-full p-2 ps-10 font-bold text-sm text-gray-900 bg-[#efefef]" placeholder="Buscador...">
      </div>
      <ul class="flex flex-col p-4 md:p-0 mt-4 bg-[#efefef] font-medium md:space-x-8 md:flex-row md:mt-0 md:border-0 md:bg-white">
        <li>
          <a href="#" class="block py-2 px-3 text-white bg-azulprimario md:bg-transparent md:text-azulprimario md:p-0">Inicio</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-gris md:hover:bg-transparent md:hover:text-blue-700 md:p-0">Acerca de Nosotros</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-gris md:hover:bg-transparent md:hover:text-blue-700 md:p-0">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  const button = document.getElementById('menu-toggle');
  const menu = document.getElementById('navbar-sticky');

  if (button && menu) {
    button.addEventListener('click', () => {
      if (menu) {
        const expanded = menu.classList.contains('hidden');
        menu.classList.toggle('hidden');
      }
    });
  }
</script>
